#result-mountains,
#result-beach,
#result-city,
#result-indecisive {
  display: none;
  clear: left;
}

.questions1,
.questions,
.button,
img {
  display: block;
  float: left;
  margin: 10px 25px;
}

.button,
.questions1 {
  clear: left;
}

img {
  margin: 15px 50px 0 0;
  height: auto;
  width: 50%;
  -webkit-box-shadow: -9px 9px 19px -4px rgba(0,0,0,0.85);
  -moz-box-shadow: -9px 9px 19px -4px rgba(0,0,0,0.85);
  box-shadow: -9px 9px 19px -4px rgba(0,0,0,0.85);
}

#result-mountains p,
#result-beach p,
#result-city p,
#result-indecisive p {
  padding-top: 10%;
  font-size: 2rem;
}

h2 {
  text-align: center;
}
